* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: sans-serif;
}

/* Utilities */
.flex {
    display: flex;
}
.flex.center {
    flex-direction: row;
    justify-content: center;
}
.flex.right {
    flex-direction: row;
    justify-content: flex-end;
}
.flex.space-between {
    flex-direction: row;
    justify-content: space-between;
}
.flex.v-align-center {
    flex-direction: row;
    align-items: center;
}
.btn {
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.bg-grey {
    background-color: #4a4a4a;
}
.bg-darkgrey {
    background-color: #222222;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: white;
}
.text-green {
    color: #4BC800;
}
.text-red {
    color: #F01415;
}

/* Stilizzazione header */
header {
    height: 50px;
    padding: 5px;
}

/* Stilizzazione main */
#users {
    height: calc(100vh - 130px);
    overflow-y: auto;
    flex-flow: row wrap;
    align-content: flex-start;
}
.user {
    position: relative;
    margin: 0 2px;
}
.user-name {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px 10px;
    font-size: 12px;
}
.user-name i {
    margin-right: 3px;
}

/* Stilizzazione footer */
footer {
    height: 80px;
    padding-left: 15px;
}
footer .icon {
    font-size: 30px;
    margin-bottom: 5px;
}
footer .function {
    margin-right: 20px;
    cursor: pointer;
}
footer .action {
    margin-right: 15px;
}
footer .action-description {
    font-size: 12px;
}
footer .action:hover {
    opacity: 0.5;
}
footer .selection:hover {
    opacity: 0.5;
}
footer .end-meeting {
    padding: 0 20px;
    cursor: pointer;
}
footer .end-meeting:hover {
    background-color: white;
}